/target/
/images/
!.mvn*
!.mvn/wrapper/maven-wrapper.jar
/mvnw/
mvnw.*
/logs/
.DS_Store

*github*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

*target*
*.jar
*.war
*.ear
*.class

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*~.nib
local.properties
.settings/
.loadpath
target/
logs/
.recommenders

.launch
.project
.classpath

